# Core Flask & WebSocket
Flask==2.3.3
Flask-SocketIO==5.3.4
python-socketio==5.9.0
python-engineio==4.7.1
Werkzeug==2.3.7

# Utilities
requests==2.31.0
python-dotenv==1.0.0

# Scheduling & Async
APScheduler==3.10.4

# Production Server
gunicorn==21.2.0

pandas>=2.2.2
openpyxl>=3.1.2
psycopg2-binary>=2.9.9
